{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Arista ATD Lab">
<meta name="author" content="Alex Feigenson (alexf@arista.com)">

<title>Arista ATD</title>

<!-- Bootstrap core CSS -->
<link href="http://{{ip_address}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="http://{{ip_address}}/css/simple-sidebar.css" rel="stylesheet">
{% endblock %}

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <br>
                <img src="http://{{ip_address}}/images/logotransparent.png" class="arista-logo">
                <hr class="hr">
                <li>
                    <a href="/labguides/" target="_blank">Lab Guides</a><a href="/labguides/ATD.pdf" target="_blank">(PDF)</a>
                </li>
                <li>
                    <a href="/guacamole/" target="_blank">Lab Frontend</a>
                </li>
                <li>
                    <a href="https://{{ip_address}}" target="_blank">CVP</a>
                </li>
                <li>
                    <a href="https://{{ip_address}}/telemetry/" target="_blank">CVP Telemetry</a>
                </li>
                <li>
                    <a href="/ipam/" target="_blank">IPAM</a>
                </li>
                <li>
                    <a href="http://{{ip_address}}:8088" target="_blank">Jenkins</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Arista Test Drive Lab</h1>
                Welcome to the Arista Test Drive Lab! Please use the links on the left to navigate through the lab.
                <br><br>
                <h2>Usernames and Passwords</h2>
                Use the following usernames and passwords to access the ATD:
                <br>
                <br>
                <table class="table table-striped">
                  <thead> <tr> <th>Device</th> <th>Username</th> <th>Password</th> </tr> </thead>
                  <tbody> <tr>
                    <td>Lab Frontend</td> <td>arista</td> <td>@rista123</td> </tr> <tr>
                    <td>CVP</td> <td>{{ access_info['login_info']['cvp']['gui'][0]['user'] }}</td> <td>{{ access_info['login_info']['cvp']['gui'][0]['pw'] }}</td> </tr> <tr>
                    <td>IPAM</td> <td>arista</td> <td>Arista123</td> </tr>
                    <td>Lab VM SSH</td> <td>{{access_info['login_info']['jump_host']['user']}}</td> <td>{{access_info['login_info']['jump_host']['pw']}}</td> </tr>
                    <td>VEOS Instances</td> <td>{{access_info['login_info']['cvp']['gui'][0]['user']}}</td> <td>{{access_info['login_info']['cvp']['gui'][0]['pw']}}</td> </tr>
                  </tbody> </table>

                <br>
            </div>
        </div>
        <!-- /#page-content-wrapper -->


        <br><br>
        <!-- Page Content -->
        <div id="lab-deployer-wrapper">
            <div class="container-fluid">
                <h2>Lab Deployment:</h2>
                <br>
                <br>
                <table class="table table-striped">
                  <thead> <tr> <th>Lab Type</th> <th>Username</th> <th>Password</th> </tr> </thead>
                  <tbody> 
                    {% for menu_type in data %}
                    <tr>
                    <td>{{ menu_type }}</td>
                    <td><select id="{{menu_type}}LabSelection" name="{{menu_type}}LabSelection">
                        {% for menu_item in data[menu_type] %}
                        <option value={{menu_item}}> {{ menu_item }} </option>
                        {% endfor %}
                    </select></td>
                    <td><button id="{{menu_type}}SubmitButton">Execute {{ menu_type }} Lab</button> </td>
                  </tr>
                  {% endfor %}
                  </tbody> </table>
                <br>
            </div>  
        </div>  
        <h3>Last Executed Lab: </h3>
        <h4 id="lastExecuted"></h4>
        <h3>Execution Status: </h3>
        <h4 id="executionStatus"></h4>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->





    {% block scripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://{{ip_address}}/vendor/popper/popper.min.js"></script>
    <script src="http://{{ip_address}}/vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        // Set stage for incoming socket events
        var url = ''
        var ws = ''
        $(document).ready(function() {
    
            url = window.location.origin;
            url = url.replace("http:","ws:");
            url += "/backend/";
    
            ws = new WebSocket(url);
            ws.onopen = function() {
                var requestData = {};
                requestData.type = 'openMessage'
                requestData.text = "opened";
                ws.send(JSON.stringify(requestData));
    
            }
    
            ws.onmessage = function (msg) {
                console.log(msg);
                var data = JSON.parse(msg['data'])
                if (data['type'] == 'serverData') {
                    $('#executionStatus').text(data['status']);
    
                }
                else if (data['type'] == 'keepalive') {
                    var requestData = {};
                    requestData.type = 'keepalive'
                    requestData.text = "pong";
                    console.log(requestData)
                    ws.send(JSON.stringify(requestData));
    
                }
                else {
                    $('#executionStatus').val('failed');
                }
            };
        });
        // loop through menus to create button click functions
        {% for menu_type in data %}
        $('#{{menu_type}}SubmitButton').click(function() {
            url = window.location.origin;
            url = url.replace("http:","ws:");
            url += "/backend/";
    
            console.log(url);
            var lab = document.getElementById("{{menu_type}}LabSelection");
            var selectedLab = lab.options[lab.selectedIndex].text;
            var requestData = {};
            requestData.type = 'clientData';
            requestData.selectedMenu = "{{ menu_type }}";
            requestData.selectedLab = selectedLab;
            requestData.url = url;
            console.log(ws);
            console.log(requestData);
            ws.send(JSON.stringify(requestData));
            
        });      
        {% endfor %}
    
        
    </script>
    {% endblock %}

</body>


