[Unit]
Description=Runs the flask service for the lab gui
Required=atdFiles.service
After=atdFiles.service

[Service]
Type=forking
ExecStart=/usr/local/bin/lab_gui.py
TimeoutStartSec=180
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
