[Unit]
Description=Runs Lab Options GUI
After=atdFiles.service

[Service]
Type=forking
ExecStart=/usr/local/bin/labGui.py
TimeoutStartSec=infinity
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
